@import "tailwindcss";

@font-face {
  font-family: 'Poppins';
  src: 
    local('Poppins'),
    url('/fonts/poppins/Poppins-Regular.ttf') format('ttf');
}

@font-face {
  font-family: 'Poppins';
  src: 
    local('Poppins'),
    url('/fonts/poppins/Poppins-Thin.ttf') format('ttf');
  font-weight: 100;
}

@font-face {
  font-family: 'Poppins';
  src: 
    local('Poppins'),
    url('/fonts/poppins/Poppins-ExtraLight.ttf') format('ttf');
  font-weight: 200;
}

@font-face {
  font-family: 'Poppins';
  src: 
    local('Poppins'),
    url('/fonts/poppins/Poppins-Light.ttf') format('ttf');
  font-weight: 300;
}

@font-face {
  font-family: 'Poppins';
  src: 
    local('Poppins'),
    url('/fonts/poppins/Poppins-Regular.ttf') format('ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'Poppins';
  src: 
    local('Poppins'),
    url('/fonts/poppins/Poppins-Medium.ttf') format('ttf');
  font-weight: 500;
}

@font-face {
  font-family: 'Poppins';
  src: 
    local('Poppins'),
    url('/fonts/poppins/Poppins-SemiBold.ttf') format('ttf');
  font-weight: 600;
}

@font-face {
  font-family: 'Poppins';
  src: 
    local('Poppins'),
    url('/fonts/poppins/Poppins-Bold.ttf') format('ttf');
  font-weight: 700;
}

@font-face {
  font-family: 'Poppins';
  src: 
    local('Poppins'),
    url('/fonts/poppins/Poppins-ExtraBold.ttf') format('ttf');
  font-weight: 800;
}

@font-face {
  font-family: 'Poppins';
  src: 
    local('Poppins'),
    url('/fonts/poppins/Poppins-Black.ttf') format('ttf');
  font-weight: 900;
}

/* :root {
  --background: #ffffff;
  --foreground: #171717;
} */

/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Poppins, sans-serif;
}
