@use '../../style/variables';

.background-image {
    position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    z-index: -2;
    object-fit: cover;
    object-position: center;
    margin: 0 auto;
    width: 100%;
}

.background-image-with-gradient {
    position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    z-index: -2;
    object-fit: cover;
    object-position: center;
    margin: 0 auto;
    width: 100%;
}

.gradient-canvas {
    position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    width: 100%;
    z-index: -1;
    background: variables.$gradient-dark;
}